table.table-bordered img {
    width: 200px;
    height: 200px;
}

body {
    background-color: #FCEE0C;
}

.card-header{
    background-color: #03D8F3;
}

.btn-success {
    background-color: #03D8F3;
}